<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>BigBackCooks</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
    {% block styles %}{% endblock %}

</head>

<body>
    <nav>
        <div class="nav-links">
            <a href="{{ url_for('recipe_views.my_recipes') }}">💾 My Recipes</a>
            <a href="{{ url_for('recipe_views.recipe_search') }}">Find Recipes</a>
            <a href="dashboard">Home</a>
            <a href="/logout">Logout</a>
        </div>
        <div class="nav-title">BigBackCooks 🍳</div>
    </nav>

    <main>
        {% block content %}{% endblock %}
    </main>

</body>

</html>