{% extends 'layout.html' %}
{% block content %}
<h2>{{ recipe.strMeal }}</h2>
<img src="{{ recipe.strMealThumb }}" width="250">
<p><strong>Category:</strong> {{ recipe.strCategory }}</p>
<p><strong>Area:</strong> {{ recipe.strArea }}</p>
<p><strong>Instructions:</strong> {{ recipe.strInstructions }}</p>

<h3>Ingredients:</h3>
<ul>
  {% for ing in ingredients %}
    <li>
      {{ ing.measure }} {{ ing.name }}
      {% if ing.missing %}
        <strong style="color: red;">(missing)</strong>
      {% endif %}
    </li>
  {% endfor %}
</ul>
{% endblock %}
