<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>BigBackCooks</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/recipe_details.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
    {% block styles %}{% endblock %}
</head>
<body>
    <nav class="main-nav">
        <div class="nav-left">
            <img src="{{ url_for('static', filename='images/BBC.jpg') }}" alt="BBC Logo" class="nav-logo">
            <a href="{{ url_for('ingredient_views.dashboard') }}" class="nav-linkBBC">BBC</a>
        </div>
        <div class="nav-center">
            <a href="{{ url_for('ingredient_views.dashboard') }}" class="nav-link">The Heavyweight Pantry</a>
            <a href="{{ url_for('recipe_views.my_recipes') }}" class="nav-link">The VIP (Very Important Plates)</a>
            <a href="{{ url_for('recipe_views.recipe_search') }}" class="nav-link">Gravy & Glory Search</a>
        </div>
        <div class="nav-right">
            <a href="/logout" class="nav-link logout-link">My Belly Full</a>
        </div>
    </nav>

    <main>
        {% block content %}{% endblock %}
    </main>
</body>


</html>